.custom-block{
    width:clac(100% -12px);
    height: auto;
    padding: 3px 3px;
}
.custom-block-title{
    text-align: left;
    padding-left: 30px;
    font-size: 16px;
    font-weight: bold;
}
.tip{
    border-left: 6px solid #8e8e8e;
    background-color:#f0f0f0;
}
.warnning{
    border-left:6px solid yellow;
    background-color: #FFFFCE;
}
.success{
    border-left:6px solid green;
    background-color: #CEFFCE;
}
.danger {
    border-left:6px solid red;
    background-color: #FFD2D2;
}
h2:hover{
   transform: translateX(15px);
   transition-delay: 300ms;

}
